CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="t113-evb"
CONFIG_ARCH_BOARD_T113_EVB=y
CONFIG_ARCH_CHIP="t113"
CONFIG_ARCH_CHIP_T113=y
CONFIG_ARCH_CHIP_T113S3=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_LOWVECTORS=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_DEBUG_ASSERTIONS=y
CONFIG_DEBUG_ASSERTIONS_EXPRESSION=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_ERROR=y
CONFIG_DEBUG_WARN=y
CONFIG_BOARD_LOOPSPERMSEC=49341
CONFIG_BOOT_RUNFROMSDRAM=y
CONFIG_BUILTIN=y
CONFIG_DEFAULT_TASK_STACKSIZE=8192
CONFIG_IDLETHREAD_STACKSIZE=8192
CONFIG_PTHREAD_STACK_DEFAULT=4096
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_READLINE=y
CONFIG_RAM_SIZE=134217728
CONFIG_RAM_START=0x40000000
CONFIG_RAM_VSTART=0x40000000
CONFIG_RAW_BINARY=y
CONFIG_SCHED_WAITPID=y
CONFIG_SYSTEM_NSH=y
# CONFIG_T113_BOOT0 is not set
CONFIG_T113_DDR_MAPSIZE=134217728
CONFIG_T113_UART0=y
CONFIG_UART0_SERIAL_CONSOLE=y
CONFIG_T113_DMA=y
CONFIG_T113_SPI0=y
CONFIG_T113_SPI0_DMA=y
CONFIG_SPI=y
CONFIG_SPI_EXCHANGE=y
CONFIG_SPI_DRIVER=y
CONFIG_T113_TWI0=y
CONFIG_I2C=y
CONFIG_I2C_DRIVER=y
CONFIG_MTD=y
CONFIG_MTD_MX35=y
CONFIG_MX35_SPIMODE=0
CONFIG_MX35_SPIFREQUENCY=40000000
CONFIG_MTD_PARTITION=y
CONFIG_MTD_BYTE_WRITE=y
CONFIG_FS_LITTLEFS=y
CONFIG_SYSTEM_I2CTOOL=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOARDCTL=y
CONFIG_EXAMPLES_HELLO=y
CONFIG_EXAMPLES_T113_TEST=y
CONFIG_BCH=y
CONFIG_SYSTEM_NSH_STACKSIZE=8192
# CONFIG_ARCH_TRUSTZONE_SECURE is not set
